@font-face {
  font-family: 'Brotesk';
  src: url('./assets/fonts/Brotesk-Semibold.woff') format('woff'),
    url('./assets/fonts/Brotesk-Semibold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('./assets/fonts/Manrope-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

p {
  font-family: 'Manrope';
}
