.header-body {
    height: 62px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}